body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
}

h1 {
    background: peachpuff;
    color: peachpuff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mirror-blur {
    filter: blur(10px); /* Размытие содержимого канваса */
    border-radius: 50px; /* Скругленные углы, если нужно */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Добавляем тень для объемного эффекта */
}

.container {
    height: 100%;
    display: flex;
}

#toolbar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100px;
    background-color: #202020;
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 12px;
}

#toolbar input {
    width: 100%;
}

#toolbar button {
    background-color: #1841aa;
    border: none;
    border-radius: 4px;
    color:white;
    padding: 2px;
}

#imageInput {
    display: none;
}

.canvas-container > .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    text-align: center; /* Центрирует текст внутри h1 */
}

п
